/*  your css code here. If applicable */
#webpage{
	width="1100px";
	height:100vh;
	background-color:#CBD6CB;
	padding:10px;
}
table tr td :first-child{
	width:200px;
	
}
table tr td : nth-child(2){
	width:600px;
}
table tr td : last-child{
	width:600px;
}



